{{ define "content" }}

<div class="columns">
    <div class="column is-one-quarter m-3">
        {{ template "menu" . }}
    </div>
    <div class="column m-3">

        <nav class="level">
            <p class="level-item has-text-centered">
                <a class="button link has-info" href="/settings/outputs/discord/webhooks/new">New</a>
            </p>
        </nav>

        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>Server</th>
                    <th>Channel</th>
                    <th>Enabled</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {{ range .Items }}
            <tr>
                <td>{{ .Server }}</td>
                <td>{{ .Channel }}</td>
                <td><strong>{{ .Enabled }}</strong></td>
                <td>
                    <div class="field is-grouped">
                        {{ if eq true .Enabled }}
                        <form action="/settings/outputs/discord/webhooks/disable?id={{ .ID }}" method="post">
                            <input class="button" type="submit" value="Disable">
                        </form>

                        <form action="/settings/outputs/discord/webhooks/enable?id={{ .ID }}" method="post">
                            <input class="button" type="submit" value="Enable" disabled>
                        </form>
                        {{ end }}

                        {{ if eq false .Enabled }}
                        <form target="_blank" action="/settings/outputs/discord/webhooks/disable?id={{ .ID }}" method="post">
                            <input class="button" type="submit" value="Disable" disabled>
                        </form>

                        <form action="/settings/outputs/discord/webhooks/enable?id={{ .ID }}" method="post">
                            <input class="button" type="submit" value="Enable" >
                        </form>
                        {{ end }}

                        <form action="/settings/outputs/discord/webhooks/edit?id={{ .ID }}" method="post">
                            <input class="button" type="submit" value="Edit">
                        </form>
                    </div>
                </td>
            </tr>
            {{ end }}
        </table>
    </div>
</div>
{{ end }}