{{ define "content" }}
<div class="columns" >
    <div class="column is-one-quarter">
        {{ template "articles.menu" . }}
    </div>
    <div class="column">
        <div class="content">
            <img src="{{ .Article.Thumbnail }}">
            <br/>
            <div class="block">
                {{ .Article.Description }}
            </div>
            
            <button class="button">
                <a href="{{ .Article.Url }}" target="_blank" rel="noopener noreferrer">Source Url</a>
            </button>
            <br/>
            <br/>

            <div class="tags are-medium">
                <p>Topics: </p>
            {{ range .Article.Tags }}
                <span class="tag">{{ . }}</span>
            {{ end }}
            {{ range .Source.Tags }}
                <span class="tag">{{ . }}</span>
            {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}