{{ define "articles.display" }}
{{ template "header" . }}
{{ template "hero-title" . }}

<div class="columns" >
    <div class="column is-one-quarter">
        {{ template "articles.menu" . }}
    </div>
    <div class="column">
        <div class="content">
            <img src="{{ .Article.Thumbnail }}">
            <br/>
            <div class="block">
                {{ .Article.Description }}
            </div>
            
            <button class="button">
                <a href="{{ .Article.Url }}" target="_blank" rel="noopener noreferrer">Source Url</a>
            </button>
            <br/>
            <br/>


            <div class="tags are-medium">
                <p>Topics: </p>
            {{ range .Topics }}
                <span class="tag">{{ . }}</span>
            {{ end }}
            </div>
        </div>
    </div>
</div>
{{ template "footer" . }}
{{ end }}