{{ define "content" }}
<div class="columns">

    <div class="column is-one-quarter">
        {{ template "articles.menu" . }}
    </div>
    
    <div class="column">        
        <table class="table">
            <tbody>
                {{ range .Items }}
                <tr>
                    <th><a href="/articles/sources/{{ .ID }}/list">Articles</a></th>
                    <th>{{ .Source }}</th>
                    <th>{{ .Name }}</th>
                    <th>
                        <div class="tags are-medium">
                        {{ range .Tags }}
                            <span class="tag">{{ . }}</span>
                        {{ end }}
                        </div>
                    </th>
                </tr>
                {{ end}}
            </tbody>
        </table>
        <br/>
    </div>
</div>
{{ end }}