<!--Displays the articles based on the ID value given.-->
{{ define "articles.listBySource-old" }}
{{ template "header" . }}
{{ template "hero-title" . }}

<div class="columns">
    <div class="column is-one-quarter">
        {{ template "articles.menu" . }}
    </div>
    <div class="column">    

        <h1 class="title"> Catch up on the news! </h1>
        <p>Below is a list of the newest 50 articles pulled for you to view.</p>

        <ul>
            {{ range .Items }}
                {{ if .Enabled }}
                <li><a href="{{ .Url }}">{{ .Title }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</div>

{{ template "footer" . }}
{{ end }}