{{ define "articles.list" }}
{{ template "header" . }}
{{ template "hero-title" . }}

<div class="columns">
    <div class="column is-one-quarter">
      {{ template "articles.menu" . }}
    </div>
    <div class="column">
      <br/>      
      <ul>
        {{ range .Items }}
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="{{ .Article.Thumbnail }}">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <a href="/articles/{{ .Article.ID }}"><strong>{{ .Article.Title }}</strong></a><br>
                <small>{{ .Article.Pubdate }}</small><br>
                <small>{{ .Source.Source }} - {{ .Source.Name }} </small>
              </p>
            </div>
          </div>
        </article>
      {{ end }}
      </ul>
    </div>
</div>

{{ template "footer" . }}
{{ end }}