{{ define "navbar" }}
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    
    <div class="navbar-brand">
        <a class="navbar-item" href="/">Newsbot</a>
    </div>

    <a class="navbar-item" href="/articles">Articles</a>
    <a class="navbar-item" href="/settings">Settings</a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
    
</nav>
{{ end }}