{{ define "sources.list" }}
{{ template "header" . }}
{{ template "hero-title" . }}

<div class="columns">
    <div class="column is-one-quarter">
        {{ template "settings.menu" . }}
    </div>
    <div class="column">

        <nav class="level">
            <p class="level-item has-text-centered">
                <a class="button link has-info" href="/settings/sources/{{ .Source }}/new">New</a>
            </p>
        </nav>

        <table class="table">
            <tw>
                <th>Name</th>
                <th>Enabled</th>
            </tw>
            {{ range .Items }}
            <tr>
                <td>{{ .Name }}</td>
                <td><strong>{{ .Enabled }}</strong></td>
            </tr>
            {{ end }}
        </table>
    </div>
</div>

{{ template "footer" . }}
{{ end }}