{{ define "sources.new.youtube" }}
{{ template "header" . }}
{{ template "hero-title" . }}

<div class="columns">
    <div class="column is-one-quarter m-3">
        {{ template "settings.menu" . }}
    </div>
    <div class="column m-3">  

        <form action="/settings/sources/youtube/new/post" method="post">
            Name: <input type="text" name="name" placeholder="dadjokes">
            <input type="submit" value="submit">
        </form>
        
    </div>
</div>

{{ template "footer" . }}
{{ end }}