{{ define "content" }}
<div class="columns">
    <div class="column is-one-quarter m-3">
        {{ template "menu" . }}
    </div>
    <div class="column m-3">  
    
        <form action="/settings/sources/twitch/new" method="post">

            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" name="name" placeholder="Nintendo">
                </div>
            </div>
            
            <input class="button" type="submit" value="submit">
        </form>
        
    </div>
</div>
{{ end }}