{{ define "sources.new.reddit" }}
{{ template "header" . }}
{{ template "hero-title" . }}

<div class="columns">
    <div class="column is-one-quarter">
        {{ template "settings.menu" . }}
    </div>
    <div class="column">  

        <form action="/settings/sources/reddit/new/post" method="post">
            Name: <input type="text" name="name" placeholder="dadjokes">
            <input type="submit" value="submit">
        </form>
        
    </div>
</div>

{{ template "footer" . }}
{{ end }}