{{ define "sources.new.reddit" }}
{{ template "header" . }}
{{ template "hero-title" . }}

<div class="columns">
    <div class="column is-one-quarter">
        {{ template "settings.menu" . }}
    </div>
    <div class="column">        
        <table class="table">
            <tw>
                <th>Name</th>
                <th>Enabled</th>
            </tw>
            {{ range .Items }}
            <tr>
                <td>{{ .Name }}</td>
                <td><strong>{{ .Enabled }}</strong></td>
            </tr>
            {{ end }}
        </table>
    </div>
</div>

{{ template "footer" . }}
{{ end }}