{{ define "content" }}

<div class="columns">
    <div class="column is-one-quarter m-3">
        {{ template "menu" . }}
    </div>
    <div class="column m-3 ">
        <p>What is a source?  A source is location that is monitored for new news to be picked up from.  Right now, Reddit, YouTube, Twitch and Final Fantasy XIV are supported at this time!</p>
        <br>
        <p>What is an output? Outputs are refrences to define where to send a notification when a new article has been found!  </p>
    </div>
</div>

{{ end }}